<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	<div class="sidebar-module sidebar-module-inset">
		<h4>关于&nbsp;(<em>About</em>)</h4>
		<p>蔡迎迎
			<em>(男)</em>
		</p>
		<p>毕业院校: aust</p>
		<p>现居地: 杭州</p>
		<p>EMail: <a href="mailto:caiyingying234@163.com">caiyingying234@163.com</a></p>
	</div>
	
	<div class="sidebar-module">
		<h4>分类&nbsp;(<em>Categories</em>)</h4>
		<ol class="list-unstyled">
			{% for category in site.categories %}
			<li><a href="{{ site.url }}/pages/categorys.html#{{ category | first  }}">{{ category | first  }}({{ category | last | size  }})</a></li>
			{% endfor  %}
		</ol>
	</div>
	
	<!-- 
	<div class="sidebar-module">
		<h4>标签&nbsp;(<em>Tags</em>)</h4>
		<ol class="list-unstyled">
			<li><a href="#">March 2014</a></li>
			<li><a href="#">February 2014</a></li>
			<li><a href="#">January 2014</a></li>
			<li><a href="#">December 2013</a></li>
			<li><a href="#">November 2013</a></li>
			<li><a href="#">October 2013</a></li>
			<li><a href="#">September 2013</a></li>
			<li><a href="#">August 2013</a></li>
			<li><a href="#">July 2013</a></li>
			<li><a href="#">June 2013</a></li>
			<li><a href="#">May 2013</a></li>
			<li><a href="#">April 2013</a></li>
		</ol>
	</div>
	 -->
	
	<div class="sidebar-module">
		<h4>链接&nbsp;(<em>Links</em>)</h4>
		<ol class="list-unstyled">
			<li><a target="_blank" href="https://github.com/hcray/blog">GitHub</a></li>
			<li><a target="_blank" href="http://blog.csdn.net/nohero1?viewmode=contents">zjls007</a></li>
			<li><a target="_blank" href="javascript:void(0);">Twitter</a></li>
			<li><a target="_blank" href="javascript:void(0);">Facebook</a></li>
		</ol>
	</div>
</div><!-- /.blog-sidebar -->