<div class="blog-masthead navbar-fixed-top">
	<div class="container">
		<nav class="blog-nav">
			<a id = "main" class="blog-nav-item" href="{{ site.url }}">主页</a>
			<a id = "category" class="blog-nav-item" href="{{ site.url }}/pages/categorys.html">分类</a>
			<a id = "photo" class="blog-nav-item" href="{{ site.url }}/pages/photo.html">相册</a>
			<a id = "message" class="blog-nav-item" href="{{ site.url }}/pages/message.html">留言板</a>
			<a id = "about" class="blog-nav-item" href="{{ site.url }}/pages/about.html">关于</a>
		</nav>
	</div>
</div>